
<%- include ('partials/a-header.ejs') %>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav  me-auto ml-auto text-center">
      <a class="nav-link nav-a" href="/edit-home">Home</a>
      <a class="nav-link nav-a" href="/edit-project">Projects</a>
      <a class="nav-link nav-a active" href="/edit-about">About</a>
      <a class="nav-link nav-a" href="/edit-media">Media</a>
      <a class="nav-link nav-a" href="/edit-blog">Blog</a>
      <a class="nav-link nav-a" href="/edit-contact">Contact</a>
    </div>
  </div>
  </div>
  </nav>
  </div>
  </div>
  </header>
  <div class="blank" style="height: 180px;"></div>
  <div class="main-about">
    <form action="/edit-about" method="post" enctype="multipart/form-data">
      <div class="about">
        <div class="about-para">
          <textarea name="content" id="" cols="70" rows="20"><%= about.content %> </textarea>
        </div>
        <div class="about-img">
          <img src="<%= about.img %>" alt="">
        </div>
        <div>
          <button type="submit" class="btn btn-secondary contact-button pl-5 pr-5 float-right m-3 mr-5 mt-5">Submit</button>
        </div>
        <div class="input-group m-2 pt-2 pr-5">
          <div class="custom-file">
            <input type="file" name="img" class="custom-file-input" id="inputGroupFile02"
              accept="image/png, image/jpeg">
            <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
          </div>
        </div>
        <div class="about-para-hidden">
          <p>
            <textarea name="" id="" cols="70" rows="20"><%= about.content %> </textarea>
          </p>
        </div>
      </div>
    </form>
  </div>
  <%- include ('partials/a-footer.ejs') %>