
<%- include ('partials/a-header.ejs') %>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav  me-auto ml-auto text-center">
    <a class="nav-link nav-a" href="/admin">Home</a>
    <a class="nav-link nav-a" href="/edit-project">Projects</a>
    <a class="nav-link nav-a" href="/edit-about">About</a>
    <a class="nav-link nav-a" href="/edit-media">Media</a>
    <a class="nav-link nav-a active" href="/edit-blog">Blog</a>
    <a class="nav-link nav-a" href="/edit-contact">Contact</a>
  </div>
</div>
</div>
</nav>
</div>
</div>
</header>
<div class="blank" style="height: 129px;"></div>
<div class="blog-mainbg">
  <div class="add-button-div">
    <a href="/add-blog"><button type="button" class="btn btn-secondary">ADD BLOG</button></a>
  </div>

  <% for (let index=0; index < blogs.length; index++) { %>
  <% const blog=blogs[index]; %>
  <div class="blog">
    <div class="blog-img">
      <img src="<%= blog.thumbnail %>" alt="">
    </div>
    <div>
      <p class="blog-heading">
        <%= blog.title %> <br>
        <font class="blog-date">
          <%= blog.date %> <br>
        </font>
      </p>
      <p class="blog-para nl"><%- blog.content %>
      </p>

      <form action="/delete-blog/<%= blog._id %>" method="post">
        <a href="/edit-blog/<%= blog._id %>">
          <button class="edit-blog" type="button" class="btn btn-secondary">EDIT</button>
        </a>
        <a href=""><button type="submit" class="btn btn-secondary">DELETE</button></a>
      </form>

    </div>
  </div>
  <% } %>
</div>

<%- include ('partials/a-footer.ejs') %>
