
<%- include ('partials/a-header.ejs') %>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav  me-auto ml-auto text-center">
    <a class="nav-link nav-a" href="/edit-home">Home</a>
    <a class="nav-link nav-a" href="/edit-project">Projects</a>
    <a class="nav-link nav-a" href="/edit-about">About</a>
    <a class="nav-link nav-a" href="/edit-media">Media</a>
    <a class="nav-link nav-a" href="/edit-blog">Blog</a>
    <a class="nav-link nav-a active" href="/edit-contact">Contact</a>
  </div>
</div>
</div>
</nav>
</div>
</div>
</header>
<div class="blank" style="height: 129px;"></div>
<div class="contact-main">
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3912.9535349210537!2d75.82384921480516!3d11.264825991991204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba65bc2a5fbd5a3%3A0x13ce038630221d20!2sMONASTERY%20OF%20ARCHITECTURE!5e0!3m2!1sen!2sin!4v1651389817473!5m2!1sen!2sin" width="1180" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <form action="/edit-contact" method="post">
    <div class="contact">
      <div>
        <div>
          <p class="contact-header">Address</p>
          <textarea name="address" id="" cols="30" rows="10" placeholder="Address"><%- contact.address %></textarea>
          <!-- <p class="contact-para">
                        M10 / 19, MASK MANZIL, KSHB COLONY<br>
                        MALAPARAMBA. CALICUT- 673 009 , KERALA<br>
                        Admin: +91 9562379333, +91 9562379555<br>
                        Ph: 0495-2379385<br>
                        <br>
                        For general queries and project information, please write to us at info@gmailmoa.in
                    </p> -->
        </div>
        <div>
          <p class="contact-header">Internship</p>
          <textarea name="internship" id="" cols="30" rows="10" placeholder="Internship"><%- contact.internship %></textarea>
          <!-- <p class="contact-para">
                        We value welcoming young creativity to our workspace <br>
                        <br>
                        Mail Your Resume to info@architects.in
                    </p>
                    <button>APPLY NOW</button> -->
        </div>
        <div>
          <p class="contact-header">Career</p>
          <textarea name="career" id="" cols="30" rows="10" placeholder="Career"><%- contact.career %> </textarea>
          <!-- <p class="contact-para">
                        We look forward to your skilled talent and committed passion<br>
                        <br>
                        Mail Your Resume to info@architects.in<br>
                    </p>
                    <button>APPLY NOW</button> -->
        </div>
        <button type="submit" class="btn mb-3 btn-secondary contact-button">Submit</button>
      </div>
      <div>
        <a href="/messages"><button type="button" class="btn btn-secondary contact-button mt-5">VIEW
            MESSAGES</button></a>
      </div>
    </div>
  </form>
</div>

<%- include ('partials/a-footer.ejs') %>