
<%- include ('partials/a-header.ejs') %>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav  me-auto ml-auto text-center">
    <a class="nav-link nav-a" href="/admin">Home</a>
    <a class="nav-link nav-a" href="/edit-project">Projects</a>
    <a class="nav-link nav-a" href="/edit-about">About</a>
    <a class="nav-link nav-a" href="/edit-media">Media</a>
    <a class="nav-link nav-a" href="/edit-blog">Blog</a>
    <a class="nav-link nav-a" href="/edit-contact">Contact</a>
  </div>
</div>
</div>
</nav>
</div>
</div>
</header>
<div class="blank" style="height: 129px;"></div>

<div class="messages-main">
  <div class="msg">
    <% for (let index=0; index < messages.length; index++) { %>
    <% const element=messages[index]; %>
    <div class="msg-temp p-2 m-3 border">
      <form action="/delete-message" method="post">
        <div class="add-button-div">
          <input type="text" hidden name="_id" value=<%=element._id %>>
          <a href=""><button type="submit" class="btn btn-secondary">DELETE</button></a>
        </div>
      </form>
      <p>Name: <font>
          <%=element.name %>
        </font>
      </p>
      <p>Phone: <font>
          <%=element.phone %>
        </font>
      </p>
      <p>Email: <font>
          <%=element.email %>
        </font>
      </p>
      <p class="nl">Message: <font><%-element.message %>
        </font>
      </p>

    </div>
    <% } %>
  </div>
</div>



<%- include ('partials/a-footer.ejs') %>