
<%- include ('partials/a-header.ejs') %>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav  me-auto ml-auto text-center">
    <a class="nav-link nav-a" href="/admin">Home</a>
    <a class="nav-link nav-a" href="/edit-project">Projects</a>
    <a class="nav-link nav-a" href="/edit-about">About</a>
    <a class="nav-link nav-a active" href="/edit-media">Media</a>
    <a class="nav-link nav-a" href="/edit-blog">Blog</a>
    <a class="nav-link nav-a" href="/edit-contact">Contact</a>
  </div>
</div>
</div>
</nav>
</div>
</div>
</header>
<div class="blank" style="height: 129px;"></div>
<div class="add-button-div pr-5 pl-5">
  <a href="/add-media"><button type="button" class="btn btn-secondary pl-5 pr-5">ADD</button></a>
</div>
<div class="media-img-temp">
  <% for (let index = 0; index < media.length; index++) {%>
  <% const item = media[index]; %>
  <div class="media-temp">
    <img src="<%= item.img %>" alt="">
    <div class="media-logo">
      <img src="<%= item.logo %>" alt="">
    </div>
    <p class="nl"><%- item.content %>
      <br>
      <font class="media-date"><%= item.date %></font>
    </p>
    <div class="add-button-div pr-5 pl-5">
      <a href="/edit-media/<%= item._id %>"><button type="button" class="btn btn-secondary pl-5 pr-5 mr-2">EDIT</button></a>
      <form action="/delete-media/<%= item._id %>" method="post">
        <button type="submit" class="btn btn-secondary pl-5 pr-5">DELETE</button>
      </form>
    </div>
  </div>
  <% } %>
</div>
<%- include ('partials/a-footer.ejs') %>