<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/admin-css/a-main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Messages</title>
  <link rel="icon" type="image/x-icon" href="/logo/icon.png">
</head>
<%- include ('partials/a-header.ejs') %>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav  me-auto ml-auto text-center">
    <a class="nav-link nav-a" href="/admin">Home</a>
    <a class="nav-link nav-a" href="/edit-project">Projects</a>
    <a class="nav-link nav-a" href="/edit-about">About</a>
    <a class="nav-link nav-a" href="/edit-media">Media</a>
    <a class="nav-link nav-a" href="/edit-blog">Blog</a>
    <a class="nav-link nav-a" href="/edit-contact">Contact</a>
  </div>
</div>
</div>
</nav>
</div>
</div>
</header>
<div class="blank" style="height: 129px;"></div>

<div class="messages-main">
  <div class="msg">
    <% for (let index=0; index < messages.length; index++) { %>
    <% const element=messages[index]; %>
    <div class="msg-temp p-2 m-3 border">
      <form action="/delete-message" method="post">
        <div class="add-button-div">
          <input type="text" hidden name="_id" value=<%=element._id %>>
          <a href=""><button type="submit" class="btn btn-secondary">DELETE</button></a>
        </div>
      </form>
      <p>Name: <font>
          <%=element.name %>
        </font>
      </p>
      <p>Phone: <font>
          <%=element.phone %>
        </font>
      </p>
      <p>Email: <font>
          <%=element.email %>
        </font>
      </p>
      <p class="nl">Message: <font>
          <%-element.message %>
        </font>
      </p>

    </div>
    <% } %>
  </div>
</div>



<%- include ('partials/a-footer.ejs') %>