
<%- include ('partials/a-header.ejs') %>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav  me-auto ml-auto text-center">
      <a class="nav-link nav-a" href="/admin">Home</a>
      <a class="nav-link nav-a" href="/admin/projects">Projects</a>
      <a class="nav-link nav-a" href="/admin/about">About</a>
      <a class="nav-link nav-a" href="/admin/media">Media</a>
      <a class="nav-link nav-a" href="/admin/blog">Blog</a>
      <a class="nav-link nav-a" href="/admin/contact">Contact</a>
    </div>
  </div>
</div>
</nav>
</div>
</div>
</header>
<div class="blank" style="height: 129px;"></div>

<div class="messages-main">
    <div class="msg">
        <div><%- include ('partials/a-msg-temp.ejs') %></div>
        <div><%- include ('partials/a-msg-temp.ejs') %></div>
        <div><%- include ('partials/a-msg-temp.ejs') %></div>
        <div><%- include ('partials/a-msg-temp.ejs') %></div>
        <div><%- include ('partials/a-msg-temp.ejs') %></div>
        <div><%- include ('partials/a-msg-temp.ejs') %></div>

    </div>

</div>



<%- include ('partials/a-footer.ejs') %>  