
<%- include ('partials/a-header.ejs') %>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav  me-auto ml-auto text-center">
      <a class="nav-link nav-a" href="/admin">Home</a>
      <a class="nav-link nav-a active" href="/admin/projects">Projects</a>
      <a class="nav-link nav-a" href="/admin/about">About</a>
      <a class="nav-link nav-a" href="/admin/media">Media</a>
      <a class="nav-link nav-a" href="/admin/blog">Blog</a>
      <a class="nav-link nav-a" href="/admin/contact">Contact</a>
    </div>
  </div>
</div>
</nav>
</div>
</div>
</header>
<div class="blank" style="height: 129px;"></div>
<div class="proj">
    <div class="proj-types">
        <a href="">All Projects</a>
        <a href="">Residential</a>
        <a href="">Commercial</a>
        <a href="">Hospitality</a>
        <a href="">Housing</a>
        <a href="">Interiors</a>
        <a href="/admin/edit-category"><button type="button" class="btn btn-secondary contact-button">EDIT CATEGORY</button></a>
        
    </div>
    <div class="add-button-div pb-2">
        <a href=""><button type="button" class="btn btn-secondary">ADD PROJECT</button></a>
    </div>
    <div class="proj-main">
        <%- include ('partials/a-project-imgtemp.ejs') %>
        <%- include ('partials/a-project-imgtemp.ejs') %>
        <%- include ('partials/a-project-imgtemp.ejs') %>
        <%- include ('partials/a-project-imgtemp.ejs') %>
        <%- include ('partials/a-project-imgtemp.ejs') %>
        <%- include ('partials/a-project-imgtemp.ejs') %>
    </div>
</div>


<%- include ('partials/a-footer.ejs') %>  