<%- include ('partials/a-header.ejs') %>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav  me-auto ml-auto text-center">
    <a class="nav-link nav-a" href="/edit-home">Home</a>
    <a class="nav-link nav-a active" href="/edit-project">Projects</a>
    <a class="nav-link nav-a" href="/edit-about">About</a>
    <a class="nav-link nav-a" href="/edit-media">Media</a>
    <a class="nav-link nav-a" href="/edit-blog">Blog</a>
    <a class="nav-link nav-a" href="/edit-contact">Contact</a>
  </div>
</div>
</div>
</nav>
</div>
</div>
</header>
<div class="blank" style="height: 129px;"></div>
<div class="proj">
  <div class="proj-types">
    <a href="/edit-project">All Projects</a>
    <% for (let i = 0; i < projectCategories.length; i++) {%>
    <% let active = projectCategories[i].name == projectCategory.name ? " active": ""; %>
    <a href="/edit-project/<%= projectCategories[i].name %>" class=<%= active %>><%= projectCategories[i].name %></a>
    <% } %>
    <a href="/edit-project-category"><button type="button" class="btn btn-secondary contact-button">EDIT CATEGORIES</button></a>

  </div>
  <div class="add-button-div pb-2">
    <a href=""><button type="button" class="btn btn-secondary">ADD PROJECT</button></a>
  </div>
  <div class="proj-main">
    <% let projects = projectCategory.projects %>
    <% for (let i = 0; i < projects.length; i++) {%>
    <% let project = projects[i]; %>
    <div>
      <div>
        <img src="<%= project.thumbnail %>" alt="">
      </div>
      <div class="proj-imgtitle">
        <div class="proj-t1">
          <p><%= project.name %></p>
        </div>
        <div class="proj-t2">
          <p><%= project.location %></p>
        </div>
      </div>
      <div class="d-flex float-right mb-5">
        <div class="add-button-div">
          <a href="/edit-project/<%= projectCategory.name %>/<%= project._id %>"><button type="button" class="btn btn-secondary pl-5 pr-5 mr-2">EDIT</button></a>
        </div>
        <div class="add-button-div">
          <a href="/delete-project/<%= projectCategory.name %>/<%= project._id %>"><button type="button" class="btn btn-secondary pl-5 pr-5">DELETE</button></a>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>


<%- include ('partials/a-footer.ejs') %>