
<%- include ('partials/header.ejs') %>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav  me-auto ml-auto text-center">
    <a class="nav-link nav-a" href="/">Home</a>
    <a class="nav-link nav-a" href="/projects">Projects</a>
    <a class="nav-link nav-a active" href="/about">About</a>
    <a class="nav-link nav-a" href="/media">Media</a>
    <a class="nav-link nav-a" href="/blogs">Blog</a>
    <a class="nav-link nav-a" href="/contact">Contact</a>
  </div>
</div>
</div>
</nav>
</div>
</div>
</header>
<div class="blank" style="height: 180px;"></div>
<div class="main-about">
  <div class="about">
    <div class="about-para nl">
      <p><%- about.content %>
      </p>
    </div>
    <div class="about-img">
      <img src="<%= about.img %>" alt="">
    </div>
    <div class="about-para-hidden nl">
      <p><%- about.content %>
      </p>
    </div>
  </div>
</div>
<%- include ('partials/footer.ejs') %>