<%- include ('partials/header.ejs') %>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav  me-auto ml-auto text-center">
    <a class="nav-link nav-a" href="/">Home</a>
    <a class="nav-link nav-a" href="/projects">Projects</a>
    <a class="nav-link nav-a" href="/about">About</a>
    <a class="nav-link nav-a" href="/media">Media</a>
    <a class="nav-link nav-a active" href="/blogs">Blog</a>
    <a class="nav-link nav-a" href="/contact">Contact</a>
  </div>
</div>
</div>
</nav>
</div>
</div>
</header>
<div class="blank" style="height: 110px;"></div>
<div class="blog-mainbg">
  <% for (let index = 0; index < blogs.length; index++) {%>
  <% const blog = blogs[index]; %>
  <div class="blog">

    <div class="blog-img">
      <img src="<%= blog.thumbnail %>" alt="">
    </div>
    <div>
      <p class="blog-heading">
        <%= blog.title %> <br>
        <font class="blog-date">
          <%= blog.date.toString().substring(4, 16) %> <br>
        </font>
      </p>
      <p class="blog-para nl"><%- blog.content.substr(0, 200) + '&hellip;' %>
      </p>
      <a href="/blogs/<%= blog._id %>"><button type="submit">READ MORE</button></a>
    </div>
  </div>
  <% } %>
</div>

<%- include ('partials/footer.ejs') %>