
<%- include ('partials/header.ejs') %>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav  me-auto ml-auto text-center">
    <a class="nav-link nav-a" href="/">Home</a>
    <a class="nav-link nav-a" href="/projects">Projects</a>
    <a class="nav-link nav-a" href="/about">About</a>
    <a class="nav-link nav-a" href="/media">Media</a>
    <a class="nav-link nav-a active" href="/blogs">Blog</a>
    <a class="nav-link nav-a" href="/contact">Contact</a>
  </div>
</div>
</div>
</nav>
</div>
</div>
</header>
<div class="blank" style="height: 110px;"></div>
<div class="blog-landing-img">
  <img src="<%= blog.img %>" alt="">
</div>
<div class="blog-landing-main">
  <div>
    <p class="blog-heading">
      <%= blog.title %><br>
      <font class="blog-date"><%= blog.date.toString().substring(4, 16) %> <br><br></font>
    </p>
  </div>
  <div>
    <p class="blog-para nl"><%- blog.content %>
    </p>
  </div>
  <div class="back-to-blogs">
    <a href="/blogs">Back to blogs</a>
  </div>
</div>

<%- include ('partials/footer.ejs') %>
