
<%- include ('partials/header.ejs') %>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav  me-auto ml-auto text-center">
    <a class="nav-link nav-a" href="/">Home</a>
    <a class="nav-link nav-a" href="/projects">Projects</a>
    <a class="nav-link nav-a" href="/about">About</a>
    <a class="nav-link nav-a" href="/media">Media</a>
    <a class="nav-link nav-a" href="/blogs">Blog</a>
    <a class="nav-link nav-a active" href="/contact">Contact</a>
  </div>
</div>
</div>
</nav>
</div>
</div>
</header>
<div class="blank" style="height: 110px;"></div>
<div class="contact-main">
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3912.9535349210537!2d75.82384921480516!3d11.264825991991204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba65bc2a5fbd5a3%3A0x13ce038630221d20!2sMONASTERY%20OF%20ARCHITECTURE!5e0!3m2!1sen!2sin!4v1651389817473!5m2!1sen!2sin" width="1180" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="contact">
    <div>
      <div>
        <p class="contact-header">Address</p>
        <p class="contact-para nl"><%- contact.address%></p>
      </div>
      <div>
        <p class="contact-header">Internship</p>
        <p class="contact-para nl"><%- contact.internship%></p>
      </div>
      <div>
        <p class="contact-header">Career</p>
        <p class="contact-para nl"><%- contact.career %></p>
      </div>
    </div>
    <div>
      <p class="contact-header">Send us a message</p>
      <form action="/messages" method="post">
        <input type="text" name="name" id="" placeholder="Name" required>
        <input type="text" name="phone" id="" placeholder="Phone" required>
        <input type="email" name="email" id="" placeholder="Email" required>
        <textarea name="message" id="" cols="auto" rows="13" placeholder="Message" required></textarea>
        <button type="submit" style="cursor: pointer;">SEND</button>
      </form>
    </div>
  </div>
</div>

<%- include ('partials/footer.ejs') %>