<%- include ('partials/header.ejs') %>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav  me-auto ml-auto text-center">
    <a class="nav-link nav-a" href="/">Home</a>
    <a class="nav-link nav-a" href="/projects">Projects</a>
    <a class="nav-link nav-a" href="/about">About</a>
    <a class="nav-link nav-a active" href="/media">Media</a>
    <a class="nav-link nav-a" href="/blogs">Blog</a>
    <a class="nav-link nav-a" href="/contact">Contact</a>
  </div>
</div>
</div>
</nav>
</div>
</div>
</header>
<div class="blank" style="height: 110px;"></div>
<div class="media-main">
  <div class="media-img-temp">
    <% for (let index = 0; index < media.length; index++) {%>
    <% const item = media[index]; %>
    <div class="media-temp">
      <img src="<%= item.img %>" alt="">
      <div class="media-logo">
        <img src="<%= item.logo %>" alt="">
      </div>
      <p class="nl"><%- item.content %>
        <br>
        <font class="media-date"><%= item.date.toString().substring(4, 16) %></font>
      </p>
    </div>
    <% } %>
  </div>
</div>
<%- include ('partials/footer.ejs') %>