<%- include ('partials/header.ejs') %>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav  me-auto ml-auto text-center">
    <a class="nav-link nav-a" href="/">Home</a>
    <a class="nav-link nav-a active" href="/projects">Projects</a>
    <a class="nav-link nav-a" href="/about">About</a>
    <a class="nav-link nav-a" href="/media">Media</a>
    <a class="nav-link nav-a" href="/blogs">Blog</a>
    <a class="nav-link nav-a" href="/contact">Contact</a>
  </div>
</div>
</div>
</nav>
</div>
</div>
</header>
<div class="blank" style="height: 110px;"></div>


<section id="pl-section-1">
  <div>
    <img class="img-1" src="<%= project.mainImg %>" alt="">
  </div>
</section>
<section id="pl-section-2">
  <secton id="pl-section2-0">
    <div>
      <p class="p-head"><%= project.name %></p>
      <p class="p-date-loc"><%= project.location %><br><%= project.timeline %></p>
    </div>
    <div class="p-landingp">
      <p class="nl">
        <%- project.content %>
      </p>
    </div>
  </secton>
  <!-- <div id="pl-section2-1">
    <img id="pl-img-2" src="Projects/THE SECRET GARDEN HOUSE, CALICUT/DSC_2741-1 copy copy.jpg" alt="">
  </div> -->
  <!-- <div id="pl-section2-3">
    <div id="pl-div-img-6">
      <img id="pl-img-6" src="images/spam/4.jpg" alt="">
    </div>
    <div id="pl-section2-3-1">
      <div>
        <img id="pl-img-7" src="images/spam/5.jpg" alt="">
      </div>
      <div>
        <img id="pl-img-8" src="images/spam/6.jpg" alt="">
      </div>
    </div>
  </div> -->
  <div class="pl-grid">
    <% for(let i = 0; i < project.imgs.length; i++) { %>
    <div class="pl-section2-4 container__img-holder">
      <img id="pl-img-9" src="<%= project.imgs[i] %>" alt="Image">
    </div>
    <div class="img-popup">
      <img src="" alt="Popup Image">
      <div class="close-btn">
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
    <% } %>
  </div>

  


  <!-- <div class="container">
    <div class="container__img-holder">
      <img src="https://images.pexels.com/photos/589697/pexels-photo-589697.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image">
    </div>
  </div> -->
  
  








  
</section>
<div class="back-to-projects">
  <a href="/projects">Back to projects</a>
</div>


<%- include ('partials/footer.ejs') %>