<%- include ('partials/header.ejs') %>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav  me-auto ml-auto text-center">
    <a class="nav-link nav-a" href="/">Home</a>
    <a class="nav-link nav-a active" href="/projects">Projects</a>
    <a class="nav-link nav-a" href="/about">About</a>
    <a class="nav-link nav-a" href="/media">Media</a>
    <a class="nav-link nav-a" href="/blogs">Blog</a>
    <a class="nav-link nav-a" href="/contact">Contact</a>
  </div>
</div>
</div>
</nav>
</div>
</div>
</header>
<div class="blank" style="height: 129px;"></div>
<div class="proj">
  <div class="proj-types">
    <a href="/projects">All Projects</a>
    <% for (let i = 0; i < projectCategories.length; i++) {%>
    <% let active = projectCategories[i].name == projectCategory.name ? " active": ""; %>
    <a href="/projects/<%= projectCategories[i].name %>" class=<%= active %>><%= projectCategories[i].name %></a>
    <% } %>
  </div>

  <div class="proj-main">
    <% let projects = projectCategory.projects %>
    <% for (let i = 0; i < projects.length; i++) {%>
    <% let project = projects[i]; %>

    <div>
      <div>
        <a href="/projects/<%= projectCategory.name %>/<%= project._id %>"><img src="<%= project.thumbnail %>" alt=""></a>
      </div>
      <div class="proj-imgtitle">
        <div class="proj-t1">
          <p><%= project.name %></p>
        </div>
        <div class="proj-t2">
          <p><%= project.location %></p>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<%- include ('partials/footer.ejs') %>